.tabs {
  width: 100%;
  min-height: 100%;

  ul.tabs-header {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    display: flex;
    min-height: 40px;

    li {
      flex: 0 1;
      align-items: center;
      display: inline-flex;
      padding: 0 15px;
      border: none;
      transition: 0.3s ease-out;
      font-family: var(--ui-font-family-body);
      color: var(--ui-color-bark);
      background-color: var(--ui-color-lightgrey);
      margin-right: 2px;
      border-radius: var(--ui-border-radius) var(--ui-border-radius) 0 0;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        background: #fff;
      }

      &:not(.active):hover {
        background-color: var(--ui-color-hover);
        cursor: pointer;
      }
    }
  }

  .tabs-body {
    height: 100%;
    text-align: center;
    background: #fff;
    border-radius: 0 0 var(--ui-border-radius) var(--ui-border-radius);
    padding: 15px 15px;
  }
}

//@media screen and (min-width: 1024px) {
//  .tabs ul.tabs-header {
//    min-height: 56px;
//  }
//}
