@import "../../styles/variables";

.everyday-banking {

  &__tab-container {
    .ui-button-container {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 10px;
    }

    [name="currency"] {
      width: 90px;
    }
  }

  &__static-content {
    background-color: var(--ui-color-mist);
    border-radius: var(--ui-border-radius);
    padding: 34px 20px 20px;
    gap: 20px;

    .hello-balloon {
      border-radius: 50%;
      width: 120px;
      height: 120px;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      flex-shrink: 0;
      background-color: var(--ui-color-pineapple);
      color: #FFFFFF;
      font-weight: bold;
      font-size: 18px;
      position: relative;
      margin: -14px 0 0 0;

      &::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 18px solid var(--ui-color-pineapple);
        position: absolute;
        left: 50%;
        bottom: 0;
        margin: 0 0 -14px -12px;
      }
    }

    h2 {
      margin: 5px 0;
    }

    p {
      margin: 0 0 20px;
    }

    @include media-xs {
      align-items: center;

      .ui-link {
        align-self: flex-start;
        margin-bottom: 10px;
      }

      .ui-button {
        width: 100%;
      }
    }
  }
}

.calculator-container {
  > hr {
    margin: 0 10px;
    opacity: 0.25;
  }

  &__form {
    flex-grow: 0.7;

    .ui-form-input-container {
      width: auto;
    }
  }

  &__result {
    flex-grow: 0.3;
    text-align: end;

    > hr {
      margin: 10px 0;
      opacity: 0.25;
    }

    p {
      margin: 0 0 0 10px;
      align-self: flex-end;
    }

    &-payment {
      color: var(--ui-color-orange-text);
      font-size: 26px;

      small {
        color: var(--ui-color-bark);
        font-size: 15px;
      }
    }

    .ui-button {
      margin-top: 10px;
    }
  }
}
